accelerate==1.1.1
beautifulsoup4==4.12.3
bert-score==0.3.13
faiss-cpu==1.9.0
huggingface-hub==0.26.2
langchain==0.3.7
langchain-community==0.3.5
langchain-core==0.3.15
langchain-experimental==0.3.3
langchain-huggingface==0.1.2
langchain-openai==0.2.6
langchain-text-splitters==0.3.2
langsmith==0.1.142
msoffcrypto-tool==5.4.2
openai==1.54.3
openpyxl==3.1.5
pandas==2.2.3
pydantic==2.9.2
pypdf==5.1.0
rouge_score==0.1.2
scikit-learn==1.5.2
scipy==1.13.1
# sentence-transformers==3.3.0
# tiktoken==0.8.0
# tokenizers==0.20.3
# torch==2.5.1
# torchaudio==2.5.1
# torchvision==0.20.1
# transformers==4.46.2
